@font-face {
  /* proxima-nova-ext-con-thin */
  font-family: 'proxima-nova-ext-con';
  src: url("../fonts/proxima-nova/proxima-nova-ext-con-thin/proxima-nova-ext-con-thin.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-ext-con-thin/proxima-nova-ext-con-thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  /* proxima-nova-ext-con-thin-italic */
  font-family: 'proxima-nova-ext-con';
  src: url("../fonts/proxima-nova/proxima-nova-ext-con-thin-italic/proxima-nova-ext-con-thin-italic.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-ext-con-thin-italic/proxima-nova-ext-con-thin-italic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  /* proxima-nova-ext-con-light */
  font-family: 'proxima-nova-ext-con';
  src: url("../fonts/proxima-nova/proxima-nova-ext-con-light/proxima-nova-ext-con-light.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-ext-con-light/proxima-nova-ext-con-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  /* proxima-nova-ext-con-light-italic */
  font-family: 'proxima-nova-ext-con';
  src: url("../fonts/proxima-nova/proxima-nova-ext-con-light-italic/proxima-nova-ext-con-light-italic.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-ext-con-light-italic/proxima-nova-ext-con-light-italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  /* proxima-nova-ext-con-regular */
  font-family: 'proxima-nova-ext-con';
  src: url("../fonts/proxima-nova/proxima-nova-ext-con-regular/proxima-nova-ext-con-regular.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-ext-con-regular/proxima-nova-ext-con-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  /* proxima-nova-ext-con-regular-italic */
  font-family: 'proxima-nova-ext-con';
  src: url("../fonts/proxima-nova/proxima-nova-ext-con-regular-italic/proxima-nova-ext-con-regular-italic.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-ext-con-regular-italic/proxima-nova-ext-con-regular-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  /* proxima-nova-ext-con-medium */
  font-family: 'proxima-nova-ext-con';
  src: url("../fonts/proxima-nova/proxima-nova-ext-con-medium/proxima-nova-ext-con-medium.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-ext-con-medium/proxima-nova-ext-con-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  /* proxima-nova-ext-con-medium-italic */
  font-family: 'proxima-nova-ext-con';
  src: url("../fonts/proxima-nova/proxima-nova-ext-con-medium-italic/proxima-nova-ext-con-medium-italic.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-ext-con-medium-italic/proxima-nova-ext-con-medium-italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  /* proxima-nova-ext-con-semibold */
  font-family: 'proxima-nova-ext-con';
  src: url("../fonts/proxima-nova/proxima-nova-ext-con-semibold/proxima-nova-ext-con-semibold.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-ext-con-semibold/proxima-nova-ext-con-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  /* proxima-nova-ext-con-semibold-italic */
  font-family: 'proxima-nova-ext-con';
  src: url("../fonts/proxima-nova/proxima-nova-ext-con-semibold-italic/proxima-nova-ext-con-semibold-italic.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-ext-con-semibold-italic/proxima-nova-ext-con-semibold-italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  /* proxima-nova-ext-con-bold */
  font-family: 'proxima-nova-ext-con';
  src: url("../fonts/proxima-nova/proxima-nova-ext-con-bold/proxima-nova-ext-con-bold.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-ext-con-bold/proxima-nova-ext-con-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  /* proxima-nova-ext-con-bold-italic */
  font-family: 'proxima-nova-ext-con';
  src: url("../fonts/proxima-nova/proxima-nova-ext-con-bold-italic/proxima-nova-ext-con-bold-italic.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-ext-con-bold-italic/proxima-nova-ext-con-bold-italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  /* proxima-nova-ext-con-extrabold */
  font-family: 'proxima-nova-ext-con';
  src: url("../fonts/proxima-nova/proxima-nova-ext-con-extrabold/proxima-nova-ext-con-extrabold.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-ext-con-extrabold/proxima-nova-ext-con-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  /* proxima-nova-ext-con-extrabold-italic */
  font-family: 'proxima-nova-ext-con';
  src: url("../fonts/proxima-nova/proxima-nova-ext-con-extrabold-italic/proxima-nova-ext-con-extrabold-italic.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-ext-con-extrabold-italic/proxima-nova-ext-con-extrabold-italic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  /* proxima-nova-ext-con-black */
  font-family: 'proxima-nova-ext-con';
  src: url("../fonts/proxima-nova/proxima-nova-ext-con-black/proxima-nova-ext-con-black.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-ext-con-black/proxima-nova-ext-con-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  /* proxima-nova-ext-con-black-italic */
  font-family: 'proxima-nova-ext-con';
  src: url("../fonts/proxima-nova/proxima-nova-ext-con-black-italic/proxima-nova-ext-con-black-italic.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-ext-con-black-italic/proxima-nova-ext-con-black-italic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
