@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.redeem {
  background-color: $warm-light-gray;
  padding: 10px;

  @include media-break-point-up(md) {
    padding: 16px;
  }

  &-reward {
    color: $vip-red;
    text-align: left;

    span {
      font-weight: 700;
    }
  }

  &-claim {
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
  }

  &-button {
    min-height: 43px;
    cursor: pointer;
    border: 2px solid $RR-Navy;
    border-radius: 3px;
    text-align: center;
    line-height: 2.6rem;
    margin-bottom: 10px;
  }
}
