@import "@Assets/styles/Colors.scss";
@import "@Assets/styles/Mixins.scss";

.product {
  &-carousel {
    height: 375px;
    position: relative;

    @include media-break-point-up(md) {
      height: 700px;
    }

    &-sticky-icon {
      position: absolute;
      z-index: 9;
      width: 55px;
      height: 55px;
      top: 8px;
      right: 8px;
    }
  }

  &-inv {
    &-stock {
      color: $RR-Green;

      svg {
        width: 18px;
      }
    }

    &-low {
      color: red;
    }
  }

  &-error {
    margin: 10px 0;

    @include error-msg-styles();
  }

  &-wrapper {
    margin-bottom: 48px;

    &-title {
      text-transform: uppercase;
    }

    &-review-snippet {
      margin: 15px 0;

      @include media-break-point-up(md) {
        margin: 12px 0 18px 0;
      }
    }

    &-carousel {
      padding-bottom: 10px;
      border-bottom: 1px solid $warm-medium-gray;

      @include media-break-point-up(lg) {
        border-bottom: none;
      }
    }

    &-info {
      padding-left: 0;

      @include media-break-point-up(lg) {
        padding-left: 50px;
      }

      &-price {
        margin: 0 0 19px 0;
        font-size: 16px;
        font-weight: 400;

        @include media-break-point-up(lg) {
          font-size: 20px;
        }

        span:first-of-type {
          color: $asphalt;
        }
      }

      &-add-to-cart {
        margin: 20px 0;

        &-qty {
          height: 50px;
          border: 1px solid $warm-medium-gray;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;

          button {
            padding: 8px 10px;
          }

          &.inactive {
            button {
              opacity: 0.3;
              cursor: default;
              pointer-events: none;
            }
          }
        }

        &-btn {
          width: 100%;
          max-width: 100%;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          height: 50px;
          border-left: none;
        }
      }

      a {
        text-decoration: underline;
        cursor: pointer;
      }

      button:disabled {
        opacity: 0.3;
        cursor: default;
      }
    }

    &-vip-box {
      background: $natural;
      color: $vip-red;
      margin: 20px 0;
      padding: 10px 15px;

      &-active {
        margin: 20px 0 0 0;
      }

      &-row {
        margin: 10px 0;

        &-text {
          font-size: 14px;
        }

        svg {
          margin-right: 5px;
        }
      }

      &-toggle {
        margin-bottom: 5px;

        p {
          padding-left: 10px;
        }
      }

      &-join {
        color: $asphalt;
      }
    }
  }
}

.bopis {
  // background-color: $RR-IceBlue;
  // padding: 20px;
}

@media screen and (prefers-reduced-motion: reduce) {
  .tab-button {
    transition: none;
  }
}

.tab-button {
  display: flex;
  position: relative;
  // background: #FBF9F5;
  padding: 15px 10px;
  width: 50%;
  height: 100%;
  min-height: 80px;
  cursor: pointer;
  // border: 1px solid #325A17;
  border: 1px solid #F3F3F2;
  background-color: #FBFEFF;
  transition: width 0.2s ease-in-out;

  &:hover,
  &:focus {
    background-color: #F1FAFF;
  }

  svg {
    width: 50px;
  }

  h5 {
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
  }

  input {
    display: none;
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   left: 15px;
  //   top: 12px;
  //   width: 5px;
  //   height: 60px;
  //   // bottom: 5px;
  //   // right: 5px;
  //   // left: 5px;
  //   // width: 90%;
  //   // height: 4px;
  //   background: #EEE;
  //   border-radius: 6px;
  //   margin: 0 auto;
  // }

  @media screen and (prefers-reduced-motion: reduce) {
    &::after {
      transition: none;
    }
  }

  &-text {
    padding-left: 10px;
    cursor: pointer;
    line-height: 20px;
    color: #222;
    font-size: 12px;
    text-decoration: none;
    height: 100%;
  }
}

.active {
  border-color: $RR-SkyBlue;
  background-color: #F1FAFF;

  svg path {
    fill: $RR-Green;
  }

  // &:hover,
  // &:focus {
  //   background: $RR-SkyBlue;
  // }

  // &::after {
  //   content: "";
  //   left: 15px;
  //   top: 12px;
  //   width: 5px;
  //   height: 60px;
  //   background: #14718A;
  //   border-radius: 6px;
  //   position: absolute;
  //   margin: 0 auto;
  // }
}
