@import "@Assets/styles/Colors.scss";
@import "@Assets/styles/Variables.scss";

.selectbox {
  outline: none;
  height: max-content;
  cursor: pointer;
  position: relative;

  &-header {
    padding: 10px;
    border: 1px solid $warm-medium-gray;
    border-radius: 3px;
    border-bottom: 0;
    min-width: 150px;
    min-height: 47px;

    span {
      color: $asphalt;
      user-select: none;
    }

    @media screen and (prefers-reduced-motion: reduce) {
      &-icon {
        transition: none;
      }
    }

    &-icon {
      margin: 0 5px 0 10px;
      transition: transform 0.6s ease;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    &-dropdown {
      transition: none;
    }
  }

  &-dropdown {
    transition: max-height 0.6s ease;
    position: absolute;
    background: $white;
    right: 0;
    left: 0;
    z-index: $zindex-overlay;
    overflow: hidden;
    border: 1px solid $warm-medium-gray;
    border-top: 0;

    &-item {
      padding: 5px 10px;
      color: $asphalt;

      &:hover,
      &:focus {
        background-color: $warm-light-gray;
      }

      &-active {
        background-color: $very-light-gray;
      }
    }
  }

  &-show {
    .selectbox-header-icon {
      transform: rotate(-180deg);
    }

    .selectbox-dropdown {
      max-height: 500px;
    }
  }

  &-hide {
    .selectbox-dropdown {
      max-height: 0;
    }
  }
}
