@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.payment {
  &-title {
    padding-bottom: 20px;

    @include media-break-point-up(md) {
      padding-bottom: 25px;
    }
  }

  &-redeem {
    padding-bottom: 30px;
  }

  &-card {
    margin: 0 0 0 10px;
    max-height: 87px;
    max-width: 127px;

    @include media-break-point-up(md) {
      max-width: 216px;
      max-height: 130px;
    }

    &-edit {
      text-decoration: underline;
      padding-top: 15px;
    }
  }

  &-btn-add {
    margin: 20px 0 10px 10px;
    max-width: 200px;
    max-height: 50px;
  }
}
