@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.section {
  &-account {
    &-text {
      text-align: left;
      display: none;
    }

    svg {
      width: 25px;
    }
  }

  @include media-break-point-up(lg) {
    &-account {
      cursor: pointer;
      background: $RR-SkyBlue;
      border: 1px solid $RR-IceBlue;
      border-radius: 3px;
      padding: 5px 5px 5px 10px;
      max-width: 175px;
      line-height: 1.1;

      &-text {
        display: block;
        margin-right: 8px;
        font-size: 14px;

        strong {
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }

  &-cart {
    position: relative;
    max-width: 70px;
    text-align: right;

    &-icon {
      margin-left: 5px;

      @include media-break-point-up(lg) {
        margin-left: 20px;
      }
    }

    div {
      position: absolute;
      right: 5px;
      top: -5px;
      cursor: pointer;
    }

    &-qty {
      display: inline-block;
      line-height: 0px;
      border-radius: 50%;
      background: $tawny-red;
      font-size: 12px;
      color: $white;
      min-width: 20px;
      text-align: center;

      span {
        display: inline-block;
        padding-top: 50%;
        padding-bottom: 50%;
        margin-left: 3px;
        margin-right: 3px;
      }
    }
  }
}
