@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.item {
  &-history {
    padding: 23px 0;
    padding-bottom: 30px;
    margin-top: 10px;
    border-bottom: 1px solid $warm-medium-gray;

    &:last-child {
      margin-bottom: 30px;
    }
  }

  &-shipment {
    &-container {
      padding: 0 25px;
    }

    &-status {
      flex-direction: column;
      border-bottom: 1px solid $warm-medium-gray;

      @include media-break-point-up(lg) {
        padding: 8px 0;
        flex-direction: row;
        align-items: center;
      }
    }

    &-title {
      color: $RR-Green;
    }

    &-track {
      @include media-break-point-down(lg) {
        padding-bottom: 10px;
      }
    }

    &-number {
      text-decoration: underline;
    }
  }

  &-product {
    &-detail {
      margin-bottom: 18px;
      padding-left: 16px;

      @include media-break-point-up(lg) {
        margin-bottom: 0;
      }
    }

    &-title {
      padding-bottom: 10px;
    }

    &-price {
      font-weight: 500;
    }

    &-buy {
      background: $RR-Green;
      width: 100%;
      min-height: 43px;

      @include media-break-point-up(lg) {
        width: 249px;
      }

      &:hover,
      &:focus {
        color: $white;
      }
    }

    &-review {
      background: $RR-IceBlue;
      color: $RR-Navy;
      width: 100%;
      min-height: 43px;

      @include media-break-point-up(lg) {
        width: 249px;
      }

      &:hover,
      &:focus {
        color: $black;
      }
    }
  }
}
