// Base Colors
$RR-Navy: #0F2D49;
$RR-SkyBlue: #6EC5F5;
$RR-IceBlue: #D5F6FF;
$RR-Green: #325A17; // Sales Funnel
$natural: #FBF9F5;
$white: #FFF;

// Body Text Colors
$asphalt: #292826;

// VIP & Personalization
$vip-red: #DB2840;

// Gray Collection
$gray: #858585;
$very-light-gray: #C7C7C7;
$warm-gray: #6B6966;
$warm-light-gray: #F3F3F2;
$warm-medium-gray: #D8D5D2;
$palette-grey-gallery: #EDEDED;
$dim-gray: #666;

// Shadow colors
$shadow-dark : #00000029;

// Overlay colors
$overlay-dark: rgba(0, 0, 0, 0.8);

// Error
$error-rust: #AB5C0E;

// Additional colors
$black: #000;
$tangerine-yellow: #FFCD00;
$light-solitude: #F6F7F8;
$dark-solitude: #EDEEF1;
$montana: #414242;
$purple-heart: #5141D8;
$tawny-red: #AF3C00;
