@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.hero-banner {
  position: relative;
  min-height: 490px;

  button {
    padding: 0 30px;
  }

  &-overlay {
    height: 100%;
    color: $white;
    position: absolute;

    &-inner {
      height: 100%;
    }
  }

  &-header {
    max-width: 500px;
    top: 25px;
    position: relative;

    @include media-break-point-up(md) {
      top: 115px;
    }

    h1 {
      text-transform: uppercase;
    }

    h1,
    h4 {
      margin-bottom: 20px;
      width: 100%;
    }

    h4 {
      line-height: 28px;
    }
  }

  &-footer {
    position: relative;
    bottom: 20px;
    justify-content: space-between;

    @include media-break-point-up(md) {
      justify-content: flex-end;
      bottom: 40px;
    }

    h4 {
      margin-right: 10px;
      text-transform: uppercase;
    }
  }
}
