@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.source {
  background-color: $warm-light-gray;
  padding: 10px;

  @include media-break-point-up(md) {
    padding: 18px;
  }

  &-input {
    input {
      &::placeholder {
        font-weight: normal;
        color: $warm-gray;
      }
    }
  }

  &-button {
    color: $white;

    &:focus,
    &:hover,
    &:visited {
      color: $white;
    }
  }
}
