@import '@Assets/styles/Variables.scss';
@import '@Assets/styles/Mixins.scss';
@import '@Assets/styles/Colors.scss';

.tag_h1 {
  font-size: 28px;
  font-style: italic;
  font-weight: 800;

  @include media-break-point-up(sm) {
    font-size: 42px;
  }
}

.tag_h2 {
  font-size: 24px;
  font-style: italic;
  font-weight: 800;

  @include media-break-point-up(sm) {
    font-size: 32px;
  }
}

.tag_h3 {
  font-size: 20px;
  font-style: italic;
  font-weight: 800;

  @include media-break-point-up(sm) {
    font-size: 24px;
  }
}

.tag_h4 {
  font-size: 16px;
  font-weight: 700;

  @include media-break-point-up(sm) {
    font-size: 20px;
  }
}

.tag_h5 {
  font-size: 14px;
  font-weight: 700;

  @include media-break-point-up(sm) {
    font-size: 16px;
  }
}

.tag_p {
  font-size: 14px;

  @include media-break-point-up(sm) {
    font-size: 16px;
  }
}

.tag_small {
  font-size: 12px;

  @include media-break-point-up(sm) {
    font-size: 14px;
  }
}

.tag_h1,
.tag_h2,
.tag_h3,
.tag_h4,
.tag_h5,
.tag_p,
.tag_small {
  letter-spacing: 0.32px;
}

.tag_h1,
.tag_h2,
.tag_h3 {
  line-height: 1.1;
  font-family: $FontProximaNovaCondensed;
}

.theme {
  &-error {
    color: $error-rust;
    font-size: 14px;
  }
}
