@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.product-card {
  margin: 0;
  padding: 3px;
  height: 100%;
  position: relative;

  @include media-break-point-up(md) {
    padding: 8px;
  }

  &-img {
    height: 180px;

    @include media-break-point-up(sm) {
      height: 350px;
    }

    &-ico {
      position: absolute;
      top: 10px;
      right: 5px;
    }
  }

  &-name {
    text-transform: capitalize;
    margin-top: 10px;

    @include make-text-ellipsis(2);
  }

  &-name,
  &-rating,
  &-price {
    margin-bottom: 10px;
  }

  &-swatch {
    min-height: 55px;

    span {
      flex: 0 0 auto;
    }

    &-count {
      margin-left: 3px;
    }
  }
}
