@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.detail {
  margin-bottom: 50px;

  @include media-break-point-up(lg) {
    padding-top: 30px;
  }

  &-container {
    margin-top: 30px;

    @include media-break-point-up(lg) {
      padding-left: 30px;
      margin: 0;
    }
  }

  &-head {
    margin-bottom: 35px;
  }

  &-panel {
    padding: 10px;

    @include media-break-point-up(lg) {
      padding: 10px 20px;
    }
  }

  &-order,
  &-summary {
    min-height: 204px;
  }

  &-accordion {
    height: 75px;

    @include media-break-point-up(md) {
      height: 66px;
      padding: 14px;
    }

    &-body {
      @include media-break-point-up(lg) {
        max-height: unset;
      }
    }
  }

  &-address {
    padding: 10px 20px;
    margin-bottom: 16px;

    @include media-break-point-down(lg) {
      flex-direction: column;
    }

    &-title {
      padding-bottom: 5px;
    }
  }

  &-shipment {
    @include media-break-point-up(lg) {
      max-height: unset;
    }

    &-head {
      @include media-break-point-up(lg) {
        padding: 10px 25px;
      }
    }
  }

  &-icon {
    transform: rotate(270deg);
  }

  &-ordersummary {
    background-color: unset;
    row-gap: 5px;
    padding: 10px;

    @include media-break-point-up(lg) {
      padding: 10px 20px;
    }
  }
}
