@import "@Assets/styles/Colors.scss";
@import '@Assets/styles/Mixins.scss';
@import '@Assets/styles/Variables.scss';
@import '@Assets/styles/KeyFrames.scss';

$OPTIONS_TYPE: "rr-navy", "rr-skyblue", "rr-iceblue", "rr-green", "white";
$OPTIONS_SIZE: "small", "medium", "large", "nosize";

@mixin construct-button-styles($bgColor, $color, $focusColor, $focusBgColor, $borderColor) {
  background-color: $bgColor;
  color: $color;

  &:hover,
  &:focus {
    background-color: $focusBgColor;
    color: $focusColor;

    @if $borderColor != '' {
      border-color: $borderColor;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@each $var in $OPTIONS_TYPE {
  .theme-#{$var} {
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;

    @if ($var == "rr-navy") {
      @include construct-button-styles($RR-Navy, $white, $RR-SkyBlue, '', '');
    }

    @else if ($var == "rr-skyblue") {
      @include construct-button-styles($RR-SkyBlue, $RR-Navy, $RR-SkyBlue, $RR-Navy, $RR-SkyBlue);
    }

    @else if ($var == "rr-iceblue") {
      @include construct-button-styles($RR-IceBlue, $RR-Navy, $RR-Navy, $RR-SkyBlue, '');
    }

    @else if ($var == "rr-green") {
      @include construct-button-styles($RR-Green, $white, '', '', '');
    }

    @else if ($var == "white") {
      @include construct-button-styles($white, $RR-Navy, $white, $RR-Navy, $white);
    }
  }
}

@each $var in $OPTIONS_SIZE {
  .size-#{$var} {
    @if ($var == "small") {
      min-height: 40px;
    }

    @else if ($var == "medium") { min-height: 45px; }

    @else if ($var == "large") { min-height: 50px; }

    @else if ($var == "nosize") { max-width: 100%; }
  }
}

.btn {
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  font-family: $ProximaNova;

  @include media-break-point-up (sm) {
    font-size: 16px;
  }

  @media (prefers-reduced-motion: reduce) {
    &-spinner {
      animation: none;
    }
  }

  &-spinner {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid currentColor;
    border-radius: 50%;
    border-right-color: transparent;
    animation: spinner 0.75s linear infinite;
    margin-right: 10px;
  }
}
