@import '@Assets/styles/Colors.scss';

.column {
  &-bg {
    &-rr-skyblue {
      background-color: $RR-SkyBlue;
    }

    &-rr-iceblue {
      background-color: $RR-IceBlue;
    }

    &-rr-navy {
      background-color: $RR-Navy;
    }

    &-rr-green {
      background-color: $RR-Green;
    }
  }

  &-title {
    margin-right: 15px;
  }
}
