@import '@Assets/styles/Colors.scss';

.card {
  min-width: 50px;
  min-height: 50px;
  display: inline-flex;

  &-image-block {
    min-width: 50px;
    min-height: 50px;
  }

  &-theme {
    &-natural {
      background-color: $natural;
    }

    &-white {
      background-color: $white;
    }

    &-skyblue {
      background-color: $RR-SkyBlue;
    }

    &-iceblue {
      background-color: $RR-IceBlue;
    }
  }

  &-type {
    &-circle {
      &,
      img {
        border-radius: 50%;
      }
    }

    &-square {
      &,
      img {
        border-radius: 0;
      }
    }
  }
}
