@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';
@import '@Assets/styles/KeyFrames.scss';

.product-listing {
  &-footer {
    margin-top: 40px;

    @include media-break-point-up(sm) {
      margin-top: 60px;
    }

    &-button {
      width: 100%;
      margin-top: 20px;

      @include media-break-point-up(sm) {
        width: 350px;
      }

      &:disabled {
        cursor: progress;
        opacity: 0.5;
      }
    }

    &-info {
      color: $asphalt;
      padding-bottom: 5px;
    }

    &-progress {
      height: 5px;
      width: 250px;
    }
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .busyloader {
    animation: none;
  }
}

.busyloader {
  filter: contrast(0);
  opacity: 0.7;
  animation: loadingAnimationOpacity 2s infinite;
}
