@import '../../Mixins.scss';
@import '../../Colors.scss';

.brand {
  margin-bottom: 60px;

  @include media-break-point-up(sm) {
    margin-bottom: 100px;
  }

  &-divider {
    margin: 20px 0;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid $warm-medium-gray;

    @include media-break-point-up(lg) {
      margin: 50px 0 30px;
    }
  }

  &-no-products {
    margin: 100px 0;

    strong {
      color: $vip-red;
    }
  }
}
