@import '@Assets/styles/Variables.scss';
@import '@Assets/styles/Mixins.scss';

.power-reviews {
  :global {
    .p-w-r {
      font-family: $ProximaNova;
      font-size: $baseMobileFontSize;

      @include media-break-point-up(lg) {
        font-size: $baseDesktopFontSize;
      }

      #pr-review-snapshot,
      #pr-review-display {
        max-width: 1000px;
        margin: 0 auto;
      }
    }
  }
}
