@import "@Assets/styles/Variables.scss";
@import "@Assets/styles/Colors.scss";
@import "@Assets/styles/Mixins.scss";

@media (prefers-reduced-motion: reduce) {
  .notification {
    transition: none;
  }
}

.notification {
  &-container {
    position: relative;
  }

  padding: 10px 5px;
  width: 350px;
  float: right;
  box-shadow: 0 0 15px -5px $warm-gray;
  position: absolute;
  background: $white;
  right: 20px;
  top: 25px;
  z-index: $zindex-fixed;

  @include media-break-point-up(sm) {
    width: 400px;
  }

  .circle {
    margin: auto 5px auto -25px;
    background-color: $white;
    height: 40px;
    width: 40px;
    box-shadow: -10px 0 30px -13px $warm-gray;
    border-radius: 50%;

    @include media-break-point-up(sm) {
      height: 50px;
      width: 50px;
      margin: auto 10px auto -30px;
    }

    .inner-circle {
      padding: 5px;

      .circle-text {
        background-color: $white;
        border: 2px $vip-red solid;
        border-radius: 50px;
        padding: 3px;
        color: $vip-red;
        width: 30px;
        height: 30px;
        margin: auto;

        @include media-break-point-up(sm) {
          border-width: 5px;
          padding: 5px;
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  @media (prefers-reduced-motion: reduce) {
    &-desktop {
      transition: none;
    }
  }

  &-desktop {
    transition: right 0.5s ease-in-out;

    @media (prefers-reduced-motion: reduce) {
      &.notification-show {
        transition: none;
      }

      &.notification-hide {
        transition: none;
      }
    }

    &.notification-show {
      display: block;
    }

    &.notification-hide {
      right: -500px;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    &-mobile {
      transition: none;
    }
  }

  &-mobile {
    top: auto;
    right: 0;
    left: 0;
    position: fixed;
    margin: auto;
    transition: bottom 0.5s ease-in-out;

    &.notification-show {
      bottom: 10px;
    }

    &.notification-hide {
      bottom: -100px;
    }
  }

  .content {
    flex: 1;

    .title {
      color: $vip-red;
    }

    .message {
      color: $warm-gray;
      font-weight: 600;
    }
  }
}
