@import '@Assets/styles/Mixins.scss';
@import '@Assets/styles/Colors.scss';

.trending-promotion {
  margin-bottom: 40px;
  margin-top: 10px;

  @include media-break-point-up(sm) {
    margin-bottom: 60px;
    margin-top: 20px;
  }

  &-item {
    width: 263px;
    flex: none;
  }

  &-heading {
    text-transform: uppercase;
    margin-right: 10px;
  }

  &-container {
    padding-right: 0;
  }

  &-slider-item {
    width: 263px;
    min-height: 263px;

    a {
      width: 100%;
    }

    @include media-break-point-up(md) {
      width: 330px;
      min-height: 330px;
    }
  }
}
