@import '@Assets/styles/Mixins.scss';

.insole {
  padding: 20px;

  &-form {
    margin-top: 10px;
    max-width: 500px;

    @include media-break-point-up(sm) {
      flex-direction: row;
    }

    @include media-break-point-up(lg) {
      flex-direction: column;
    }

    @include media-break-point-up(xl) {
      flex-direction: row;
    }
  }

  &-textbox {
    padding-bottom: 8px;

    @include media-break-point-up(sm) {
      padding-bottom: 0;
      padding-right: 8px;
    }

    @include media-break-point-up(lg) {
      padding-right: 0;
      padding-bottom: 8px;
    }

    @include media-break-point-up(xl) {
      padding-right: 8px;
      padding-bottom: 0;
    }

    input {
      padding: 10.5px;
    }
  }

  &-button {
    max-height: 35px;
  }
}
