@import '@Assets/styles/Colors.scss';

.shoes {
  margin: 5px;

  &-checkbox {
    min-width: 60px;
    width: auto;
    justify-content: center;
    border: 1px solid $warm-medium-gray;

    span {
      margin-top: 0;
    }
  }
}
