@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.order {
  margin-bottom: 50px;

  @include media-break-point-up(lg) {
    padding-top: 30px;
  }

  &-container {
    @include media-break-point-up(lg) {
      padding-left: 30px;
    }
  }

  &-title {
    @include media-break-point-down(lg) {
      padding-top: 30px;
    }

    &-search {
      @include media-break-point-down(lg) {
        flex-direction: column;
      }
    }
  }

  &-search {
    border: 2px solid $warm-medium-gray;
  }

  &-select {
    &-box {
      min-width: 173px;
    }

    &-text {
      font-weight: bold;
    }
  }

  &-item {
    &-head {
      padding: 16px;
    }

    &-body {
      max-height: unset;
    }
  }

  &-button {
    width: 100%;
    min-height: 43px;

    @include media-break-point-up(lg) {
      width: 210px;
    }
  }
}
