@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.shipping-method {
  &-block {
    max-width: 450px;
  }

  &-item {
    border: 1px solid;
    border-right: 1px solid;
    padding: 10px;

    &-cost {
      margin-left: auto;
    }

    &-name {
      padding-left: 5px;
    }

    &-desc {
      padding-top: 5px;

      @include media-break-point-up(md) {
        padding-left: 30px;
      }
    }
  }

  &-item:not(:last-child) {
    border-bottom: none;
  }
}
