@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.menu {
  &-hamburger-icon {
    margin-left: 9px;

    g {
      fill: $RR-SkyBlue;
    }
  }

  &-sidebar {
    background: $RR-Navy;
    border-radius: 3px;

    @include media-break-point-up(lg) {
      padding: 21px;
    }

    small,
    p,
    a {
      color: $white;
    }
  }

  &-items {
    @include media-break-point-down(lg) {
      padding: 8px 21px;
    }
  }

  &-titlebar {
    padding: 10px;
    background: $RR-Navy;
    border-radius: 3px;
  }

  &-reward {
    border-bottom: 1px solid $white;
    padding: 0 20px;
    padding-bottom: 15px;

    @include media-break-point-up(lg) {
      padding: 0;
      padding-bottom: 15px;
    }

    &-cash {
      color: $white;
    }

    &-amount {
      @include media-break-point-down(lg) {
        column-gap: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }

  &-user {
    @include media-break-point-down(lg) {
      padding: 24px;
      padding-bottom: 6px;
    }

    &-title {
      color: $white;
      font-size: 24px;

      @include media-break-point-up(lg) {
        font-size: 28px;
        padding: 0;
      }
    }

    &-name {
      margin: 0 auto;
      color: $white;
    }
  }

  &-list {
    font-weight: 300;
  }

  &-dashboard {
    background: $RR-Navy;
  }

  &-active {
    font-weight: 700;
  }
}
