@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.cta {
  background: $vip-red;
  color: $white;
  padding: 35px 0;
  text-transform: uppercase;

  &-btn {
    @include media-break-point-up(lg) {
      justify-content: flex-end;
    }
    // margin-top: 15px;

    // @include media-break-point-up(lg) {
    //   text-align: right;
    // }

    &-join {
      min-width: 230px;
      // margin-right: 5px;
      // margin-bottom: 5px;
    }

    &-more {
      background: $vip-red;
      border-color: $white;
      min-width: 140px;
    }
  }
}
