@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.top-nav {
  background: $RR-Navy;
  color: $white;
  font-size: 14px;
  padding: 10px 0;
  line-height: 1.1;

  &-links {
    margin-left: 20px;
    display: none;
    color: $white;

    @include media-break-point-up(lg) {
      display: block;
    }
  }

  &-your-store {
    justify-content: center;

    @include media-break-point-up(sm) {
      justify-content: flex-start;
    }

    svg {
      margin-right: 3px;
      height: 18px;
    }

    &-name {
      font-weight: 700;
      margin-left: 5px;
    }

    a {
      text-decoration: underline;
      color: $white;
      font-weight: 400;
    }

    div:first-child {
      margin-right: 10px;
    }
  }
}

.logo-section {
  &-hamburger {
    margin-right: 5px;

    @include media-break-point-up(lg) {
      display: none;
    }
  }

  &-logo {
    svg {
      width: 190px;
      margin-right: 5px;

      @include media-break-point-up(lg) {
        width: 250px;
        margin-right: 15px;
      }

      @include media-break-point-up(xl) {
        width: 300px;
        margin-right: 70px;
      }
    }
  }

  &-search {
    margin-bottom: 10px;
    flex: 0 0 auto;

    @include media-break-point-up(lg) {
      margin-bottom: 0;
      flex: 1 0 0%;
      flex-grow: 1.75;
    }
  }

  &-account-options {
    @include media-break-point-up(lg) {
      order: 1;
    }
  }

  .cart-icon {
    margin-left: 20px;
  }
}

.mega-menu {
  display: none;

  @include media-break-point-up(lg) {
    display: block;
    box-shadow: 0 3px 6px -3px $very-light-gray;
  }
}
