@import '@Assets/styles/Variables.scss';
@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.footer {
  background-color: $RR-Navy;
  color: $white;
  position: relative;

  &-blog {
    padding: 20px 0;
    border-bottom: 2px solid $RR-SkyBlue;

    a {
      color: $white;
    }

    &-item {
      margin: 15px 0;
    }

    &-icon {
      width: 36px;
      height: 36px;
      border-radius: 50%;

      @include media-break-point-up(sm) {
        width: 44px;
        height: 44px;
      }
    }

    &-copy {
      padding: 0 15px;

      h5 {
        @include make-text-ellipsis(1);
      }

      p {
        @include make-text-ellipsis(2);

        margin-top: 5px;
      }
    }
  }

  &-signup-block {
    margin-top: 50px;

    h2 {
      text-transform: uppercase;
      font-family: $ProximaNova;
    }

    p {
      margin: 15px 0;
    }
  }

  &-social-icons {
    margin-top: 25px;

    svg {
      margin-right: 20px;
    }
  }

  &-menu-links {
    margin-top: 20px;

    @include media-break-point-up(sm) {
      margin-top: 50px;
    }

    ul {
      list-style: none;

      li {
        margin-bottom: 5px;

        a {
          color: $white;
          font-size: 14px;
        }
      }
    }

    &-blocks {
      @include media-break-point-up(lg) {
        h5 {
          margin-bottom: 15px;
        }
      }
    }

    &-accordion {
      border-color: $RR-SkyBlue;

      &-head {
        margin-right: 15px;

        path {
          stroke: $RR-SkyBlue;
        }
      }
    }
  }

  &-bottom-nav {
    margin: 20px 0;

    small {
      padding-right: 15px;
      color: $RR-SkyBlue;
    }
  }
}
