@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.product-detail {
  background: $natural;
  margin: 0 0 60px 0;
  padding: 40px 10px;

  @include media-break-point-up(lg) {
    padding: 40px;
  }

  &-expert-block {
    border-bottom: 1px solid $warm-medium-gray;

    &-neutral-details,
    &-cushion-details {
      margin-bottom: 20px;

      @include media-break-point-up(md) {
        margin-bottom: 0;
      }

      h4 {
        margin: 0;

        @include media-break-point-up(md) {
          margin: 15px 0;
        }
      }

      svg {
        text {
          font-size: 22px;
          font-family: $FontProximaNovaExtraCondensed;
          font-style: italic;
          font-weight: 700;
        }
      }
    }

    &-review {
      h4 {
        margin: 0 0 10px 0;
      }

      &-name {
        margin-top: 30px;
        margin-bottom: 25px;

        img {
          border-radius: 50%;
          height: 75px;
          width: 70px;
        }
      }
    }

    p,
    small {
      color: $asphalt;
    }
  }

  &-description {
    margin-bottom: 45px;
    color: $asphalt;

    p {
      font-size: 16px;

      @include media-break-point-up(lg) {
        font-size: 18px;
      }
    }
  }

  &-specs {
    h4 {
      margin-bottom: 10px;
    }

    p {
      color: $asphalt;
    }

    &-feature {
      padding-right: 0;

      @include media-break-point-up(md) {
        padding-right: 30px;
      }

      ul {
        margin-bottom: 25px;

        p,
        li {
          margin: 10px 0;
          color: $asphalt;
        }
      }
    }

    &-metrics {
      ul {
        li {
          min-height: 90px;

          @include media-break-point-up(lg) {
            min-height: 120px;
          }
        }
      }

      a {
        color: $asphalt;
        text-decoration: underline;
      }
    }
  }
}
