@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.history {
  &-title {
    @include media-break-point-down(sm) {
      max-width: 120px;
    }
  }

  &-container {
    border: 1px solid $warm-medium-gray;

    @include media-break-point-up(lg) {
      max-height: 155px;
    }

    &-header {
      background: $warm-light-gray;
      padding: 10px;
      padding-bottom: 12px;

      @include media-break-point-up(lg) {
        padding: 16px 26px;
      }
    }
  }

  &-detail {
    @include media-break-point-up(lg) {
      flex-direction: column;
    }

    &-title {
      padding-bottom: 10px;
    }
  }

  &-item-link {
    padding: 0 16px;

    @include media-break-point-up(lg) {
      font-size: 16px;
    }
  }

  &-product {
    padding-left: 16px;
  }

  &-button {
    padding: 8px 20px;
    min-height: unset;
    margin-left: auto;

    @include media-break-point-up(md) {
      padding: 10px 44px;
      margin-left: unset;
    }
  }
}
