@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.cookie-policy {
  background: $RR-Navy;
  color: $white;
  font-size: 14px;
  min-height: 50px;
  padding: 14px 10px;
  text-align: center;
  width: 100%;

  &-link {
    color: $white;
    text-decoration: underline;
  }

  &-cta {
    border-bottom: 1px solid $RR-SkyBlue;
    color: $RR-SkyBlue;
    margin-left: 10px;
    padding: 0;
    cursor: pointer;
  }
}
