@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.detail {
  &-info {
    padding-right: 6px;
  }

  &-button {
    padding: 8px 15px;
    min-height: 36px;

    @include media-break-point-up(lg) {
      min-width: 114px;
      min-height: 43px;
    }
  }

  &-content {
    padding: 16px;

    @include media-break-point-up(lg) {
      padding: 26px;
    }
  }

  &-header {
    padding-top: 8px;
    padding-bottom: 10px;
  }

  &-title {
    @include media-break-point-down(md) {
      max-width: 180px;
    }
  }
}
