@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.checkout {
  &-details {
    @include media-break-point-up(md) {
      margin: 50px 0;
      padding-right: 5%;
    }

    position: relative;
    flex-direction: column;

    @include media-break-point-up(lg) {
      flex-direction: row;
    }
  }

  &-shipping {
    &-title {
      padding-bottom: 15px;
    }
  }

  &-order-summary {
    @include media-break-point-up(lg) {
      position: absolute;
      top: 0;
      right: 0;
    }

    &-btn-checout {
      color: $RR-Green;
      background-color: unset;
      justify-content: center;
      border: 1px solid $RR-Green;

      &:hover,
      &:focus,
      &:visited {
        color: $RR-Green;
      }
    }

    &-cart {
      padding: 0;
      border-bottom: none;

      &-head {
        padding: 0 18px;
        align-items: center;
        background-color: $warm-light-gray;
        height: 60px;
      }

      &-body {
        padding: 10px 18px;
        border: 1px solid $warm-light-gray;
        border-top: none;
      }
    }
  }
}
