@import '@Assets/styles/Mixins.scss';
@import '@Assets/styles/Colors.scss';

.wrapper {
  align-items: center;
  border-bottom: 1px solid $very-light-gray;
  padding: 0 10px;

  @include media-break-point-up(sm) {
    padding: 0 50px;
  }

  @include media-break-point-up(xl) {
    padding: 0 100px;
  }

  .back-to-cart {
    margin-left: 10px;
  }

  .logo {
    display: flex;

    @include media-break-point-up(lg) {
      margin-left: 100px;
    }

    svg {
      width: 209px;
      height: 55px;

      @include media-break-point-up(md) {
        width: 248px;
        height: 72px;
      }

      @include media-break-point-up(lg) {
        width: 348px;
        height: 92px;
      }
    }
  }

  button {
    @include media-break-point-down(sm) {
      padding: 0 10px;
    }
  }
}
