@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.cart {
  &-details {
    @include media-break-point-up(md) {
      margin: 50px 0;
    }

    position: relative;
    flex-direction: column;

    @include media-break-point-up(lg) {
      flex-direction: row;
    }
  }

  &-order-summary {
    @include media-break-point-up(lg) {
      position: absolute;
      top: 0;
      right: 0;
    }

    &-check {
      justify-content: center;
      width: 100%;
    }

    &-login {
      color: $RR-Green;
      background-color: unset;
      justify-content: center;
      border: 1px solid $RR-Green;

      &:hover,
      &:focus,
      &:visited {
        color: $RR-Green;
      }
    }

    &-vip {
      text-align: center;
      color: $vip-red;

      span {
        font-weight: 700;
      }
    }
  }

  &-vip {
    order: 2;

    @include media-break-point-up(lg) {
      order: 0;
      padding-right: 30px;
    }
  }

  &-items {
    @include media-break-point-up(lg) {
      padding-right: 30px;
    }
  }
}
