@import "@Assets/styles/Mixins.scss";
@import "@Assets/styles/Colors.scss";

.mini-cart {
  max-width: 390px;
  min-height: 500px;

  @include media-break-point-down(md) {
    padding: 16px;
    padding-top: 25px;
    border-radius: 0;
  }

  @include media-break-point-up(sm) {
    max-width: 600px;
  }

  @include media-break-point-up(lg) {
    max-width: 900px;
    padding: 26px;
  }

  &-container {
    padding: 0;
  }

  &-head {
    padding-bottom: 25px;

    @include media-break-point-up(lg) {
      padding-bottom: 30px;
    }

    &-icon {
      margin-right: 10px;

      path {
        stroke: unset;
      }
    }

    &-title {
      color: $RR-Navy;
      font-size: 19px;

      &-container {
        padding: 22px 0;

        @include media-break-point-up(md) {
          padding: 13px;
        }
      }

      @include media-break-point-up(sm) {
        font-size: 25px;
      }

      @include media-break-point-up(md) {
        font-size: 28px;
      }
    }
  }

  &-body {
    @include media-break-point-up(lg) {
      padding-bottom: 20px;
    }

    &-container {
      @include media-break-point-up(lg) {
        padding: 0 16px;
        margin-top: 24px;
      }
    }

    &-item {
      &-image-box {
        position: relative;
      }

      &-container {
        @include media-break-point-down(lg) {
          border-bottom: 1px solid $very-light-gray;
          padding-bottom: 20px;
        }
      }

      &-count {
        position: absolute;
        width: 20px;
        height: 20px;
        background: $RR-Navy;
        border-radius: 50%;
        color: $white;
        top: -7px;
        right: -6px;
        justify-content: center;
        display: flex;
        align-items: center;

        @include media-break-point-up(lg) {
          top: -12px;
          right: -12px;
          width: 30px;
          height: 30px;
        }

        &-value {
          font-size: 14px;
          font-weight: 600;

          @include media-break-point-up(lg) {
            font-size: 20px;
          }
        }
      }

      &-image {
        background-color: $natural;
        min-height: 150px;
      }

      &-details {
        padding-left: 10px;

        @include media-break-point-up(lg) {
          padding-left: 25px;
        }
      }

      &-title {
        color: $RR-Navy;
        font-size: 14px;
        line-height: 20px;

        @include make-text-ellipsis(2);

        @include media-break-point-up(lg) {
          font-size: 20px;
        }
      }

      &-name {
        font-size: 14px;
        line-height: 20px;

        @include media-break-point-up(lg) {
          font-size: 16px;
          line-height: 22px;
        }
      }

      &-pickup-status {
        color: $RR-Green;
        font-weight: bold;
      }
    }

    &-summary {
      @include media-break-point-down(md) {
        margin-top: 10px;
      }

      @include media-break-point-up(lg) {
        padding-left: 25px;
        border-left: 1px solid $very-light-gray;
      }

      &-vip {
        &-saving,
        &-reward {
          color: $vip-red;
          text-align: center;
        }

        &-value,
        &-total {
          color: $vip-red;
          font-weight: 600;
        }

        &-icon {
          margin-left: 7px;
        }

        &-welcome,
        &-become {
          color: $vip-red;
          padding-left: 5px;
          font-weight: 600;
        }

        &-section {
          background-color: $natural;
          padding: 8px;

          &-toggle {
            padding-right: 3px;
          }
        }
      }

      &-btn {
        &-cart,
        &-check-out {
          height: 40px;
          width: 100%;
          border-radius: 0;
        }

        &-cart {
          border: 2px solid $RR-Green;
          background-color: white;
          color: $RR-Green;

          &:hover,
          &:focus {
            color: $RR-Green;
          }
        }

        &-check-out {
          background: $RR-Green;
          color: $white;

          &:hover,
          &:focus {
            color: $white;
          }
        }
      }
    }
  }
}
