@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.reward {
  @include media-break-point-up(sm) {
    padding-right: 10px;
  }

  &-box {
    border: 1px solid $warm-medium-gray;
    min-height: 100px;
    padding: 10px;

    @include media-break-point-up(md) {
      min-height: 115px;
      padding: 9px;
    }
  }

  &-icon {
    margin-left: auto;
  }

  &-title {
    color: $vip-red;
  }

  &-description {
    color: $vip-red;
    font-size: 15px;
    width: 100%;
  }

  &-subtext {
    padding-top: 11px;
    color: $vip-red;
  }
}
