
.sizeChart {
  max-width: 540px;
  border: 2px solid #666;
}

.sizeChart-icon {
  margin-right: 10px;
}

.sizeChart-header {
  font-size: 18px;
  background-color: #0F2D49;
  line-height: 8px;
  color: #EDEDED;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 12px 10px;
}

.sizeChart-header h4 {
  line-height: 1.1;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: normal;
}

.sizeChart-header p {
  font-size: 13px;
  line-height: 1rem;
}

.sizeChart-headerHolder {
  text-align: left;
}

.sizeChart-category {
  background: #EDEDED;
  color: #0F2D49;
  font-size: 12px;
  line-height: 100%;
  border-bottom: 1px solid #C7C7C7;
  font-weight: 700;
  overflow: hidden;
  padding: 5px;
}

.sizeChart-title {
  text-transform: uppercase;
  font-weight: 100;
  padding: 10px 20px 10px 20px;
  font-size: 2rem;
  text-align: center;
  color: #0F2D49;
  line-height: 2.5rem;
}

.sizeChart-caption {
  font-size: 1.5rem;
  color: #FFF;
  font-weight: normal;
  line-height: 2.5rem;
  background-color: #0F2D49;
  padding: 5px 20px;
}

.sizeChart-scroll {
  max-height: 500px;
  line-height: 5rem;
  overflow-y: auto;
  padding: 10px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
}

.sizeChart-table th {
  font-size: 0.9rem;
  color: #FFF;
  text-transform: uppercase;
}

.sizeChart-table td {
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #0F2D49;
}

.sizeChart-table td,
.sizeChart-table th {
  text-align: center;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #C7C7C7;
  line-height: 3.44rem;
}

.table-border th,
.table-border td {
  border: 1px solid #C7C7C7;
}

.table.table-sm th,
.table.table-sm td {
  padding: 0.3rem;
}

.table-hover tr:hover,
.table-hover tr:focus {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.sizeChart-table {
  padding: 5px;
}

.sizeChart-table thead tr:first-child {
  background: #6EC5F5;
}

.sizeChart-kids {
  max-width: 750px;
}

.kidsTable-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
}

.kidsTable-columnLarge {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 65%;
  flex: 0 0 65%;
  padding-right: 30px;
}

.kidsTable-columnSmall {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
}

.kidsTable-columnSmall .sizeChart-caption {
  background-color: #325A17;
}

.kidsTable-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.kidsTable-holder {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 47%;
  flex: 0 0 47%;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    overflow-x: auto;
    width: 98%;
  }

  .sizeChart-table td,
  .sizeChart-table th {
    line-height: 2.44rem;
    font-size: 0.9rem;
  }

  .kidsTable-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-right: 0;
  }

  .kidsTable-columnLarge {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding-right: 0;
  }

  .sizeChart-caption {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .sizeChart-header h4 {
    font-size: 0.8rem;
    text-align: left;
  }

  .sizeChart-header p {
    text-align: left;
    font-size: 0.7rem;
  }

  .sizeChart-title {
    font-size: 1.5rem;
  }

  .sizeChart-table td,
  .sizeChart-table th {
    line-height: 1.44rem;
    font-size: 0.7rem;
  }
}
