@import '../../Colors.scss';
@import '../../Mixins.scss';

.category {
  margin-bottom: 60px;

  @include media-break-point-up(sm) {
    margin-bottom: 100px;
  }

  &-seo-block {
    margin-top: 40px;
    padding-top: 30px;

    @include media-break-point-up(sm) {
      margin-top: 70px;
      padding-top: 40px;
    }

    border-top: 1px solid $warm-medium-gray;
  }
}
