@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.vip-saving {
  background: $RR-IceBlue;
  padding: 10px;

  @include media-break-point-up(md) {
    padding: 15px;
    padding-right: 30px;
  }

  svg {
    width: 60px;
    height: 60px;

    @include media-break-point-up(md) {
      width: 95px;
      height: 95px;
    }
  }

  &-link {
    text-decoration: underline;
    font-weight: 700;
  }

  &-title {
    font-size: 15px;

    @include media-break-point-up(md) {
      font-size: 18px;
    }
  }

  &-title,
  &-sub-title {
    line-height: 24px;

    @include media-break-point-up(md) {
      line-height: 26px;
    }
  }

  &-line-item {
    line-height: 22px;

    &-savings {
      padding-bottom: 5px;
      color: $vip-red;
      border-bottom: 1px solid $RR-SkyBlue;
    }

    &-button {
      min-height: 36px;
      line-height: 22px;
      width: 100%;
      justify-content: center;
      border-radius: 0;

      &:hover,
      &:visited,
      &:focus {
        color: $white;
      }
    }
  }
}
