name: code_validation
on: 
  pull_request:
    branches:
      - develop
jobs:
  validation-check:
    runs-on: [self-hosted]
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
            node-version: '12.x'
      - name: Install NPM dependencies
        id: npm-ci
        run: npm ci
      - name: Run validation  
        id: npm-run-pipeline-validation
        run: npm run pipeline:validation
