name: Deployment
on: 
  pull_request:
    types: [closed]
    branches:
      - develop
jobs:
  Deployment:
    if: github.event.pull_request.merged == true
    runs-on: [self-hosted]
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
            node-version: '12.x'
      - name: Install NPM dependencies
        id: npm-ci
        run: npm ci
      - name: Run build
        id: npm_run_build
        run: npm run build
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET }}
          aws-region: us-east-1
      - name: Deploying nextJsApp
        run: npx serverless deploy
