@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.vip-promotion {
  color: $white;
  padding: 40px 0;
  margin: 40px 0;

  @include media-break-point-up(sm) {
    margin: 60px 0;
  }

  &-container {
    padding-right: 0;
  }

  &-left {
    margin-bottom: 60px;

    h1 {
      text-transform: uppercase;
    }

    h1,
    p {
      margin-bottom: 25px;
      margin-right: 0;

      @include media-break-point-up(lg) {
        margin-right: 30px;
      }
    }

    button {
      min-width: 250px;
    }
  }

  &-customer {
    position: relative;
    margin-right: 15px;
    max-height: 540px;
    width: 250px;
    flex: 0 0 auto;

    @include media-break-point-up(sm) {
      width: auto;
      flex: auto;
    }

    &-block {
      flex-wrap: nowrap;
      overflow-x: auto;

      @include media-break-point-up(sm) {
        overflow: hidden;
      }
    }

    &-overlay {
      position: absolute;
      bottom: 0;
      padding: 20px;

      h4 {
        margin-bottom: 5px;
      }

      small {
        margin-bottom: 20px;
        display: inline-block;
      }

      &-benefits {
        padding-right: 5px;

        img {
          margin-right: 10px;
        }

        small {
          width: 100%;
          margin-bottom: 0;
        }
      }
    }
  }

  &-benefits {
    margin-top: 5px;

    @include media-break-point-up(sm) {
      margin-top: 20px;
    }

    &-block {
      padding-right: 10px;
      margin-top: 10px;

      &-content {
        background: $white;
        color: $asphalt;
        text-align: center;
        border-radius: 3px;
        padding: 10px 15px;
        flex-direction: column;
        height: 100%;
        justify-content: center;
      }

      h2,
      h3 {
        color: $vip-red;
        margin-bottom: 5px;
      }

      button {
        background-color: $vip-red;
      }
    }
  }
}
