@import '@Assets/styles/Colors.scss';

.noresults {
  margin: 100px 0 200px 0;
  display: inline-block;

  h1 {
    margin-bottom: 50px;
    text-align: center;

    strong {
      color: $vip-red;
    }
  }

  p {
    margin: 3px 0;
    font-style: italic;

    a {
      color: $RR-SkyBlue;
      text-decoration: underline;
    }
  }

  &-search {
    max-width: 400px;
    margin: 10px 0 50px;

    input {
      padding: 8px 10px;
    }
  }

  &-buttons {
    max-width: 600px;
    margin-bottom: 100px;
  }
}
