@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.seo {
  border-top: 1px solid $warm-medium-gray;
  padding-top: 30px;
  margin-top: 15px;

  @include media-break-point-up(md) {
    margin-top: 40px;
  }

  &-content {
    margin-top: 25px;

    @include media-break-point-up(md) {
      margin-top: 35px;
    }
  }
}
