@import "@Assets/styles/Colors.scss";

.shipment {
  @media screen and (prefers-reduced-motion: reduce) {
    .tab-button {
      transition: none;
    }
  }

  @media screen and (prefers-reduced-motion: reduce) {
    &-tab {
      transition: none;
    }
  }

  &-tab {
    display: flex;
    position: relative;
    // background: #FBF9F5;
    padding: 15px 10px;
    width: 50%;
    height: 100%;
    min-height: 80px;
    cursor: pointer;
    // border: 1px solid #325A17;
    border: 1px solid #F3F3F2;
    background-color: #FBFEFF;
    transition: width 0.2s ease-in-out;

    &:hover,
    &:focus {
      background-color: #F1FAFF;
    }

    svg {
      width: 50px;
    }

    h5 {
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
    }

    @media screen and (prefers-reduced-motion: reduce) {
      &::after {
        transition: none;
      }
    }

    &-text {
      padding-left: 10px;
      cursor: pointer;
      line-height: 20px;
      color: #222;
      font-size: 12px;
      text-decoration: none;
      height: 100%;
    }

    &-active {
      border-color: $RR-SkyBlue;
      background-color: #FBFEFF;

      svg path {
        fill: $RR-Green;
      }
    }
  }

  &-bopis {
    margin-top: 10px;

    &-btn {
      width: 100%;
      font-size: 14px;
      border: 1px solid $RR-Green;
      color: $RR-Green;

      &:hover,
      &:focus {
        background: $RR-Green;
        color: $white;
      }
    }
  }
}
