@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.address {
  padding-top: 0;
  margin-bottom: 50px;

  @include media-break-point-up(lg) {
    padding-top: 30px;
  }

  &-menu {
    @include media-break-point-up(lg) {
      max-width: 234px;
    }
  }

  &-button {
    margin: 30px 0;
    max-width: 192px;

    &:hover,
    &:focus,
    &:visited {
      color: $white;
    }
  }

  &-box {
    padding: 0;
    max-width: 100%;
    justify-content: space-between;
    margin: 0;

    @include media-break-point-up(lg) {
      min-height: 291px;
      max-width: 398px;
    }
  }

  &-header {
    background-color: $warm-light-gray;
    min-height: 50px;
    padding: 0 16px;

    @include media-break-point-up(lg) {
      padding: 0 24px;
    }
  }

  &-detail,
  &-action {
    padding: 16px;
    font-weight: 700;

    @include media-break-point-up(lg) {
      padding: 24px;
    }

    &-title {
      padding-bottom: 5px;
    }
  }

  &-bar {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid $warm-medium-gray;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border: 0;
      padding-right: 0;
    }
  }
}
