@media screen and (prefers-reduced-motion: reduce) {
  .main-menu {
    transition: none;
  }

  .sub-menu {
    transition: none;
  }
}

.main-menu {
  height: 100%;
  transform: translate(-100vw);
  transition: all 0.4s ease 0s;
  overflow-y: auto;

  @media screen and (prefers-reduced-motion: reduce) {
    &-active {
      transition: none;
    }
  }

  &-active {
    transition: all 0.4s ease 0s;
    transform: translate(0);
  }
}

.sub-menu {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(100vw);
  transition: all 0.4s ease 0s;
  overflow-y: auto;

  @media screen and (prefers-reduced-motion: reduce) {
    &-active {
      transition: none;
    }
  }

  &-active {
    transition: all 0.4s ease 0s;
    transform: translate(0);
  }
}
