@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.feature-brand {
  &-title {
    margin-bottom: 40px;
  }

  &-images {
    width: 72px;
    //height: 72px;
    margin-right: 3px;

    @include media-break-point-up(sm) {
      margin-bottom: 30px;
      width: 144px;
      // height: 144px;
      margin-right: 20px;
    }
  }

  &-container {
    margin-top: 20px;
  }
}

.loaderClass {
  border-radius: 50%;
}
