@import '@Assets/styles/Mixins.scss';
@import '@Assets/styles/Colors.scss';

.contact-form {
  color: $asphalt;
  padding: 20px 10px;

  @include media-break-point-up(md) {
    padding: 40px 50px;
  }

  &-select {
    min-height: 50px;
  }
}
