@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.address {
  padding-bottom: 15px;
  flex-wrap: nowrap;

  &-title {
    padding-bottom: 20px;
  }

  &-card {
    max-width: 216px;
    max-height: 130px;
    margin: 0 10px 0 0;

    @include media-break-point-up(md) {
      margin: 0 15px 0 0;
    }

    &-edit {
      text-decoration: underline;
      padding-top: 15px;
    }
  }

  &-btn-add {
    max-height: 50px;
    max-width: 1560px;
  }
}
