@import '@Assets/styles/Colors.scss';

.header {
  background-color: $RR-Navy;
  color: $white;
  text-align: center;
  padding: 8px 8px 8px 15px;

  svg path {
    stroke: $RR-SkyBlue;
  }

  span {
    flex-grow: 2;
    color: $white;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
  }
}

.section {
  h3 {
    text-transform: uppercase;
    background-color: $RR-SkyBlue;
    padding: 7px 7px 7px 20px;
  }

  &-item {
    margin-bottom: 20px;

    &-category-links {
      padding: 7px 7px 3px 20px;
    }

    &-accordion {
      border-bottom: 1px solid $warm-medium-gray;
      padding: 11px 18px 11px 20px;

      &-head {
        font-weight: 700;
      }

      &-body {
        li {
          margin-bottom: 5px;
        }
      }
    }

    &-link {
      display: inline-block;
      width: 100%;
      padding: 15px 18px 0 20px;
      font-weight: 700;
    }
  }
}
