@import '@Assets/styles/Mixins.scss';

.carousel {
  display: inline-grid;
  display: -ms-inline-grid;

  &-head {
    &-title {
      text-transform: uppercase;
      margin-right: 15px;
    }
  }

  &-item {
    &-card {
      &-medium {
        max-width: 103px;

        @include media-break-point-up(md) {
          max-width: 260px;
        }
      }

      &-large {
        max-width: 263px;

        @include media-break-point-up(md) {
          max-width: 350px;
        }
      }
    }

    &-content {
      &-medium {
        max-width: 100px;

        @include media-break-point-up(md) {
          max-width: 360px;
        }
      }

      &-large {
        max-width: 260px;

        @include media-break-point-up(md) {
          max-width: 450px;
        }
      }
    }
  }
}
