@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.sort {
  &-button {
    text-transform: uppercase;
    font-style: italic;
    display: flex;
    align-items: center;
    max-width: 350px;
    margin-bottom: 15px;

    svg {
      margin-left: 8px;
      display: inline-block;
    }
  }

  &-modal {
    width: 100%;

    &-header {
      padding: 15px;
      background: $RR-SkyBlue;
      text-transform: uppercase;
    }

    &-body {
      padding: 10px;
    }
  }

  &-item {
    padding: 8px 0;
  }

  &-selectbox {
    min-width: 250px;
    margin-left: 20px;

    >div:first-child {
      min-height: 30px;
    }
  }
}
