@import '@Assets/styles/Colors.scss';

.tiles {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  color: $RR-Navy;

  &-theme1 {
    background-color: $RR-IceBlue;
  }

  &-theme2 {
    background-color: $natural;
  }

  &-icon {
    margin-left: 8px;
    width: 10px;
  }
}
