
.banner {
  max-height: 400px;

  .promotion-container {
    margin: 0;
    margin-bottom: 15px;
    padding-right: 15px;
    max-width: 230px;
    display: inline-block;

    img {
      width: 100%;
    }
  }

  h4 {
    font-style: italic;
    text-transform: uppercase;
  }
}
