@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.product-listing {
  &-title {
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  // &-tags {
  //   padding: 5px 15px;
  //   margin: 5px 10px 5px 0;
  //   text-transform: capitalize;

  //   @include media-break-point-down(md) {
  //     background: transparent;
  //     padding: 0;
  //     margin-right: 20px;
  //     flex: 0 0 auto;
  //   }

  //   &-block {
  //     margin-bottom: 40px;

  //     @include media-break-point-down(md) {
  //       flex-wrap: nowrap;
  //       overflow-x: auto;
  //       margin-bottom: 15px;
  //       padding-bottom: 15px;
  //       border-bottom: 1px solid $warm-medium-gray;
  //     }
  //   }
  // }

  &-links {
    margin-bottom: 30px;

    a {
      text-decoration: underline;
      cursor: pointer;
    }

    &-clear,
    &-save-fit {
      margin: 10px 10px 0 0;
    }

    &-block {
      @include media-break-point-only(lg) {
        margin-bottom: 20px;
      }
    }
  }

  &-tiles {
    text-transform: capitalize;
    padding: 5px 10px;
    margin: 5px 10px 5px 0;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    &-filters {
      transition: none;
    }
  }

  &-filters {
    width: 0;

    @media screen and (prefers-reduced-motion: reduce) {
      &-open {
        transition: none;
      }
    }

    &-open {
      opacity: 1;
      padding-right: 15px;

      @include media-break-point-up(xl) {
        padding-right: 25px;
      }

      transition: all 0.3s linear 0.3s;
    }

    &-close {
      width: 0;
      opacity: 0;
    }
  }

  @media screen and (prefers-reduced-motion: reduce) {
    &-block {
      transition: none;
    }
  }

  &-block {
    transition: width 0.3s ease-in-out;
    margin-bottom: 20px;

    @include media-break-point-up(lg) {
      margin-right: -10px;
    }
  }
}
