@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.modal-overlay {
  width: 560px;

  .wrapper {
    width: 100%;

    .header-text,
    h3 {
      color: $RR-Navy;
    }

    div.header {
      padding: 20px 20px 0 20px;

      &-text {
        text-align: center;
        margin: 30px auto 0 auto;
      }
    }

    &-store-locator-content {
      min-height: 300px;
      padding: 20px;

      .title {
        margin-bottom: 15px;
      }

      .error {
        margin: 15px 0;
        color: $vip-red;
        font-weight: 600;
      }

      .store-warning-message {
        margin: 15px 0;
      }

      .list {
        margin-top: 10px;

        .item {
          margin: 10px 0;
          padding: 10px 0;
          border-top: 1px solid $warm-medium-gray;
          border-bottom: 1px solid $warm-medium-gray;

          .distance-text {
            color: $asphalt;
            font-size: 14px;
            font-weight: 400;
          }

          .select-store-btn {
            width: 100%;
            border: 1px solid $RR-Navy;

            &.active {
              color: $white;
              background: $RR-Navy;
            }
          }
        }
      }
    }
  }
}
