@import '../../assets/styles/Colors.scss';
@import '../../assets/styles/Mixins.scss';

.help-section {
  border-top: 1px solid $very-light-gray;
  margin: 30px 10px;
  padding: 10px;
  width: auto;
  height: max-content;

  @include media-break-point-up(lg) {
    margin: 30px 100px;
    padding: 0;
  }

  .section {
    margin-top: 30px;

    @include media-break-point-up(lg) {
      width: 33%;
    }

    .icon {
      background-color: $RR-IceBlue;
      border-radius: 50%;
      height: 70px;
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .section-content {
      margin-left: 20px;
      width: 75%;

      @include media-break-point-up(lg) {
        margin-top: 0;
        width: 75%;
      }

      .text-content {
        color: $asphalt;
      }
    }
  }
}
