@import './Variables.scss';
@import './FontProximaNova.scss';
@import './FontProximaNovaCon.scss';
@import './FontProximaNovaExtCon.scss';
@import './Colors.scss';
@import './Mixins.scss';

html {
  scroll-behavior: smooth;
  background: $RR-Navy;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: $ProximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $RR-Navy;
  background: $white;
  position: relative;
  font-size: $baseMobileFontSize;
  line-height: $baseLineHeight;
  font-weight: $baseFontWeight;
  letter-spacing: $baseLetterSpacing;
  margin: 0;

  @include media-break-point-up(sm) {
    font-size: $baseDesktopFontSize;
  }

  // remove scrollbar for all Tab and Mobile devices
  @include media-break-point-down(lg) {
    ::-webkit-scrollbar {
      display: none;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:global {
  #rrs-main {
    min-height: 75vh;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  max-height: 100%;
}

picture {
  width: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

a {
  color: $RR-Navy;
  text-decoration: none;
}

input,
select,
textarea {
  font-family: $ProximaNova;
  font-size: $baseMobileFontSize;
  line-height: 1.1;
  letter-spacing: $baseLetterSpacing;

  @include media-break-point-up(sm) {
    font-size: $baseDesktopFontSize;
  }
}

form {
  max-width: 100%;
}

// A11y
a,
button {
  outline: none;
}

a:focus-visible,
button:focus-visible,
[tabindex='0']:focus-visible {
  outline: 1px solid $tangerine-yellow;
}
