/**
 * Extra small devices (portrait phones, less than 576px)
 * No media query since mobile is default
 * 1. Small devices (landscape phones, 576px and up)
 * 2. Medium devices (tablets, 768px and up)
 * 3. Large devices (desktops, 992px and up)
 * 4. X-Large devices (large desktops, 1200px and up)
 * 5. XX-Large devices (larger desktops, 1400px and up)
 */
$BREAK_POINTS: sm, md, lg, xl, xxl;
$BREAK_POINTS_MAP: (sm: 576, md: 768, lg: 992, xl: 1200, xxl: 1400);

// Font configuration
$baseMobileFontSize: 14px;
$baseDesktopFontSize: 16px;
$baseLineHeight: 1.4;
$baseFontWeight: 400;
$baseLetterSpacing: 0.32px;
$ProximaNova: 'proxima-nova';
$FontProximaNovaCondensed: 'proxima-nova-con';
$FontProximaNovaExtraCondensed: 'proxima-nova-ext-con';

//z-index
$zindex-dropdown:          1000;
$zindex-fixed:             1010;
$zindex-overlay:           1020;
$zindex-modal:             1030;
$zindex-popover:           1040;
$zindex-tooltip:           1050;
