@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.review-container {
  &-title {
    margin-bottom: 20px;
  }

  .review-slider {
    width: 84%;

    @include media-break-point-up(sm) {
      width: 444px;
    }

    .module-box {
      border: 1px solid $RR-IceBlue;
      margin-right: 21px;

      .review-product {
        padding: 20px;

        &-title {
          margin-bottom: 10px;
        }
      }

      .review-description {
        background: $RR-IceBlue 0% 0%;
        padding: 30px;

        &-sub-text {
          margin-bottom: 10px;
        }
      }
    }
  }
}
